html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e9eef2;
}
.column-container {
    column-count: 4;
    
}
.card {
    break-inside: avoid-column;

    
}
.card-link-color{
    color: #f8d650;
}
              