@inject IAdvertService AdvertService

@if(Adverts == null)
{
	
}
else
{
	<div class="column-container">

	@foreach(var advert in Adverts)
	{
	
		<div class="card mb-3 shadow-sm " style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title">@advert.Detail.Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">@advert.Detail.Location, @advert.Detail.Phone</h6>
			<p class="card-text">@advert.Detail.Body</p>
			<a href="#" class="card-link card-link-color">More</a>
		  </div>
		
		</div>
	}
		
	</div>
}




	@code {

		public IEnumerable<Classifieds.Domain.Models.Advert> Adverts = new List<Advert>();
		//HttpClient Http = new HttpClient();

		protected override async Task OnInitializedAsync()
		{
			await GetAdverts();
		}
		protected async Task GetAdverts()
		{
			Adverts = await AdvertService.FindAll();
		}

}
