@page "/"



@{
   // ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Title</h1>

<div>
    <h3>Classifieds List</h3>
   <component type="typeof(ClassifiedsList)" render-mode="ServerPrerendered" />
</div>
